#This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Ionut Traistaru
	email = ionut.m.traistaru@gmail.com

[alias]
parent = "!git show-branch | grep '*' | grep -v \"$(git rev-parse --abbrev-ref HEAD)\" | head -n1 | sed 's/.*\\[\\(.*\\)\\].*/\\1/' | sed 's/[\\^~].*//' #"
	ac = !git add -A && git commit -m
	puo = !git push -u origin
	acp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
	co = checkout
	cob = checkout -b
	bd = branch -D

[init]
	defaultBranch = main
[core]
	autocrlf = input
