#This is Git's per-user configuration file.
[user]
	name = Ionut Traistaru
	email = 46448048+ionut-t@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519.pub

[alias]
parent = "!git show-branch | grep '*' | grep -v \"$(git rev-parse --abbrev-ref HEAD)\" | head -n1 | sed 's/.*\\[\\(.*\\)\\].*/\\1/' | sed 's/[\\^~].*//' #"
	ac = !git add -A && git commit -m
	puo = !git push -u origin
	acp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
	co = checkout
	cob = checkout -b
	bd = branch -D

[init]
	defaultBranch = main
[core]
	autocrlf = input
	editor = vim
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[commit]
	gpgsign = true
